#Titulo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: indigo;
    text-align: center;
}

#Cuadro{
    background-color: transparent;
    width: 400px;
    height: 200px;
    border-radius: 1ch;
    margin: auto;
    margin-top: 20px;
}

.txtCalculo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    border-radius: 6px;
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
}

.txtCalculo:focus{
    outline: none;
    border-color: blueviolet;
}

#Resultado{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: auto;
}